{% load static %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>

<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

{#<script src="{% static 'dist/js/demo.js '%}"></script>#}

<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js' %}"></script>

<script>
    $(function () {
        $("#example").DataTable();
    });


    $(function () {
        $("#exporttable").click(function (e) {
            var table = $("#htmltable");
            if (table && table.length) {
                $(table).table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name",
                    filename: "meatorder" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
                    fileext: ".xls",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true,
                    preserveColors: false
                });
            }
        });

    });


</script>


{#<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>




